/*----Basic setup-----*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: Roboto;
    color: #555;
    box-sizing: border-box;
}
body{
    font-weight:400;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.6rem;
    background-color: #ecfafa;
    position: relative;
}
/*--------Container------------*/
.container{
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4a6969;
    padding: 5rem;
    border-radius:1rem;
    box-shadow: -15px -15px 7px rgba(255,255,255,0.5), 15px 15px 15px rgba(0,0,0,0.1), inset 5px 5px 5px rgba(255,255,255,0.2), inset 0 -5px 5px rgba(0,0,0,0.1);
    cursor:grab;
}

.container-text{
    padding:0.2rem 1rem;
}
.container-text:last-of-type{
    margin-bottom: 3rem;
}

/*--------card functionality-------*/
.card{
    position:relative;
    perspective: 125rem;
    -moz-perspective: 125rem;
    height: 5.5rem;
    width:80%;
    cursor: default;
}

.card-side{
    box-shadow: -3px -3px 5px  rgba(255,255,255,0.2), 5px 5px 10px rgba(0,0,0,0.1),inset -5px -5px 5px rgba(0,0,0,0.1), inset 5px 5px 5px rgba(255,255,255,0.3);
    padding: .5rem .8rem;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    backface-visibility: hidden;
    transition: all .8s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}
.card:hover .card-front{
transform: rotateY(-180deg);
}
.card:hover .card-back{
    transform: rotateY(0deg);
}
.card-front{
background-color: white;
color: black;
}
.card-back{
transform: rotateY(180deg);
background-color:darkgray;
color: #f3f3f3;
}
.card-link:link, .card-link:visited{
padding:4rem;
text-decoration: none;
color: currentColor;
cursor: pointer;
}